body {
    box-sizing: border-box;
}

#grid-container-week {
    display: grid;
    grid-template-columns: repeat(7, minmax(15em, 1fr));
    grid-column-gap: 0.2em;
}

#grid-item-week {
    text-align: center;
    color: black;
    border: solid 0.1em black;
    min-height: 95vh;
}

table.IdGetTask,
table.IdGetTask thead tr th,
table.IdGetTask tbody tr td {
    border: solid 0.1em black;
    border-collapse: collapse;
    margin: 0.1em;
    margin-top: 0.2em;
    color: black;
    table-layout:inherit;
    width: 98.5%;
}

button {
    background-color: white;
    margin-left: 1em;
    margin-right: 1em;
}

table.Create,
table.Create tr td {
    margin-left: auto;
    margin-right: auto;
    border: 0em;
}

button.Create {
    margin-left: auto;
    margin-right: auto;
    min-width: 15em;
}